---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">WebSites</div>
  </div>

  <HorizontalCard
    title="List of pokemons cards"
    img="/listadoPokemon.png"
    desc="This project is a Pokedex application built using NextJS, a popular React framework. The application displays a list of Pokemon, fetched from the Pokemon API, and allows users to select their favorite Pokemon from the list."
    url="https://pokemon-list-app-eta.vercel.app/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Python Projects</div>
  </div>

  <HorizontalCard
    title="DataLen"
    desc="DataLen is a text analysis system developed in Python that performs tasks such as keyword extraction, named entity recognition, and topic detection in both Spanish and English texts. This system uses the natural language processing (NLP) library spaCy to carry out these tasks.In addition, DataLen provides a section for data visualization. This allows users to view the results of text analysis in a more intuitive and easy-to-understand manner."
    url="https://github.com/adrian9906/DataLen.git"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="TextStreamProcessing"
    desc="The TextStreamProcessing project is a comprehensive solution for processing text streams. This application implements a variety of natural language processing tasks, including text classification, clustering, zero-shot classification, and sentiment analysis."
    url="https://github.com/adrian9906/TextStreamProcessing.git"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
